/*This is used to import google font*/
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Fredoka:wght@300..700&display=swap');

/*Added css stock*/
:root {
    --dark-brown: #48201a;
    --wood-color: #7e492e;
    --brown: #b25627;
    --light-brown: #da9747;
    --lightest-brown: #edb868;
    --fredoka: "Fredoka", sans-serif;
}

body {
    overflow: auto;
    overflow-x: hidden;
    width: 100vw;
}

.custom-navbar-link {
    color: var(--dark-brown) !important;
    font-size: 1.25rem !important; /* Adjust as needed */
    font-weight: bold !important;
    text-decoration: none !important; /* Removes underline */
}

.custom-navbar-link:hover {
    color: var(--brown) !important; /* Optional: change color on hover */
}

.dropdown-menu {
    background-color: var(--dark-brown);
    width: 100px !important;     /* Set a fixed width */
    min-width: 100px !important;
}

.dropdown-item {
    color: var(--light-brown);
    font-size: 1rem ; /* Adjust as needed */
    font-weight: bold ;
}

.dropdown-item:hover {
    background-color: var(--lightest-brown);
    color:var(--dark-brown);
}

.hero {
    height: 482px;
    background-color: var(--lightest-brown);
    width: 100%;
}

.hero-img {
    display: flex-start;
    padding-left: 200px;
}

.hero h1 {
    font-family: var(--fredoka);
    font-weight: bold;
    color: var(--dark-brown);
    font-size: 10vh;
}

.hero p {
    font-style: italic;
    font-size: 4vh;
}

.hero-icon {
    margin-right: 2vw;
}

.hero-icon:hover {
    fill: var(--wood-color);
}

.buynow {
    display: flex;
}

.buynow a {
    background-color: var(--dark-brown);
    height: 50px;
    border-radius: 20px;
}

.buynow button {
    color: var(--lightest-brown);
    font-family: var(--fredoka);
    font-size: 25px;
    font-weight: bold;
}

.buynow a:hover {
    background-color: var(--brown);
}

.buynow button:hover {
    color: var(--dark-brown);
}

.promotion {
    background-color: var(--wood-color);
    height: 90px;
    color: var(--lightest-brown);
}

.promotion h1 a {
    color: var(--lightest-brown);
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}