/*This is used to import google font*/
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Fredoka:wght@300..700&display=swap');

/*Added css stock*/
:root {
    --dark-brown: #48201a;
    --wood-color: #7e492e;
    --brown: #b25627;
    --light-brown: #da9747;
    --lightest-brown: #edb868;
    --fredoka: "Fredoka", sans-serif;
}

/* Added body styling*/
body {
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
    box-sizing: border-box;
}

.custom-navbar-link {
    color: var(--dark-brown) !important;
    font-size: 1.25rem !important; /* Adjust as needed */
    font-weight: bold !important;
    text-decoration: none !important; /* Removes underline */
}

.custom-navbar-link:hover {
    color: var(--brown) !important; /* Optional: change color on hover */
}

.dropdown-menu {
    background-color: var(--dark-brown);
    width: 100px !important;     /* Set a fixed width */
    min-width: 100px !important;
}

.dropdown-item {
    color: var(--light-brown);
    font-size: 1rem ; 
    font-weight: bold ;
}

.dropdown-item:hover {
    background-color: var(--lightest-brown);
    color:var(--dark-brown);
}

.hero {
    height: 482px;
    background-color: var(--lightest-brown);
    width: 100%;
}

.hero-img {
    display: flex-start;
    padding-left: 200px;
}

.hero h1 {
    font-family: var(--fredoka);
    font-weight: bold;
    color: var(--dark-brown);
    font-size: 10vh;
}

.hero p {
    font-style: italic;
    font-size: 4vh;
}

.hero-icon {
    margin-right: 2vw;
}

.hero-icon:hover {
    fill: var(--wood-color);
}

.buynow {
    display: flex;
}

.buynow a {
    background-color: var(--dark-brown);
    height: 50px;
    border-radius: 20px;
}

.buynow button {
    color: var(--lightest-brown);
    font-family: var(--fredoka);
    font-size: 25px;
    font-weight: bold;
}

.buynow a:hover {
    background-color: var(--brown);
}

.buynow button:hover {
    color: var(--dark-brown);
}

.promotion {
    background-color: var(--wood-color);
    height: 90px;
    color: var(--lightest-brown);
}

.promotion h1 a {
    color: var(--lightest-brown);
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}

.shadow {
    background-color: var(--light-brown) !important; 
    width: 280px; 
    height: 240px; 
    top: 20px; 
    border-radius: 30px;
}

.who-img {
    position: relative; 
    border-radius: 30px;
    width: 280px; 
    height: 240px; 
}

.who-head {
    font-family: var(--fredoka);
    color: var(--dark-brown);
    font-weight: bold;
    font-size: 30px;
}

.who-desc {
    font-size: 20px;
    color: var(--dark-brown);
    font-family: var(--fredoka);
}

.header h1,
.heading h1 {
    font-size: 10vh;
    font-family: var(--fredoka);
    font-weight: bold;
    color: var(--dark-brown);
}

.line {
    height: 4px; 
    background-color: 
    var(--dark-brown); 
    opacity: 1; 
    margin-left: auto; 
    margin-right: auto;
}

.bestseller {
    background-color: var(--lightest-brown);
    width: 100%;
}

.best-img {
    width: 287px;
    height: 250px;
}

.best-desc {
    font-family: var(--fredoka);
    color: var(--dark-brown);
}

.best-btn {
    background-color: var(--dark-brown);
    color: #fff;
    font-size: 20px;
    font-family: var(--fredoka);
    border-radius: 30px;
    font-weight: 500;
}

.branches {
    width: 100vw;
}

.carousel-item img {
    height: 500px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(1); 
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 15px;
    border-radius: 8px;
    color: #fff;
}

/*TESTIMONIALS*/
.testimonials {
    min-height: 100vh;
    width: 100%;
    background-color: var(--lightest-brown);
    color:var(--dark-brown);
    padding: 0px 150px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.testimonials .header {
    margin: 50px;
}

.wrapper {
    min-height: 400px;
    margin-top: 100px;
    background-color: #E4C988;
    border-radius: 40px;
}

/*BROWSE*/

.browse {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    text-align: center;
    padding: 50px 150px;
    
}
.heading {
    display: flex;
    flex-direction: row;
    justify-content: center ;
    text-align: center;
    margin-top: 100px;
   
}

.heading img {
    height: 300px;
}

.heading h1 {
    align-self: center;
}

.menu {
    height: 200vh;
    background-color: var(--wood-color);
    margin-top: 100px;
    border-radius: 40px;
}

/*COLUMN1*/
.col1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.col1 img {
    height: 40px;
}

